# SAM E54 Xplained Pro Board configuration
#
# Copyright (c) 2019 Benjamin Valentin
# SPDX-License-Identifier: Apache-2.0
# Modified 2023 by Sebastian Schlupp for ATSAME51J20
# Redistributed under the same (Apache-2.0) license

config BOARD_ATSAME51_CNANO
	bool "SAM E51 Curiosity Nano"
	depends on SOC_PART_NUMBER_SAME51J20A
